<div class="post-meta">
  <div class="meta-primary">
    <span class="meta-item">
      <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format (default "2006-01-02" .Site.Params.dateFmt) }}</time>
    </span>
    {{ with .Params.categories }}
      <span class="meta-sep">•</span>
      <span class="meta-categories">
        {{ range $key, $value := . -}}
          {{- if $key }}, {{ end }}
          <a href="{{ "/categories/" | relLangURL }}{{ $value | urlize }}">{{ . }}</a>
        {{- end }}
      </span>
    {{ end }}
    {{ with .WordCount }}
      <span class="meta-sep">•</span>
      <span class="meta-item">{{ . }} words</span>
    {{ end }}
    {{ with .ReadingTime }}
      <span class="meta-sep">•</span>
      <span class="meta-item">{{ . }} min read</span>
    {{ end }}
  </div>
  {{ if and .IsPage (ne .Date .Lastmod) }}
    <div class="meta-updated">
      Last updated on
      <time datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Lastmod.Format (default "2006-01-02" .Site.Params.dateFmt) }}</time>
    </div>
  {{ end }}
  {{ with .Params.tags }}
    <div class="meta-tags">
      {{ range $key, $value := . -}}
        <a class="meta-tag" href="{{ "/tags/" | relLangURL }}{{ $value | urlize }}">#{{ . }}</a>
      {{- end }}
    </div>
  {{ end }}
</div>
