{{ $duration := "" }}
{{ $speedSingle := default 1 (.Param "readingspeed") }}
{{ $speedMin := default 1 (.Param "readingspeedmin") }}
{{ $speedMax := default 1 (.Param "readingspeedmax") }}
{{ $durationSingle := math.Max 1 (div .WordCount $speedSingle) }}
{{ $durationMin := math.Max 1 (div .WordCount $speedMax) }}
{{ $durationMax := math.Max 1 (div .WordCount $speedMin) }}
{{ $durationRange := cond
  (eq $durationMin $durationMax)
  $durationMin
  (print $durationMin "-" $durationMax)
}}
{{ if .Params.readingSpeedMin | and .Params.readingSpeedMax }}
  {{ $duration = $durationRange }}
{{ else if .Params.readingSpeed }}
  {{ $duration = $durationSingle }}
{{ else if .Site.Params.readingSpeedMin | and .Site.Params.readingSpeedMax }}
  {{ $duration = $durationRange }}
{{ else if .Site.Params.readingSpeed }}
  {{ $duration = $durationSingle }}
{{ else }}
  {{ $duration = .ReadingTime }}
{{ end }}

<div class="post-meta">
  <div class="meta-primary">
    <span class="meta-item">
      <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format (default "2006-01-02" .Site.Params.dateFmt) }}</time>
    </span>
    {{ with .Params.categories }}
      <span class="meta-sep">•</span>
      <span class="meta-categories">
        {{ range $key, $value := . -}}
          {{- if $key }}, {{ end }}
          <a href="{{ "/categories/" | relLangURL }}{{ $value | urlize }}">{{ . }}</a>
        {{- end }}
      </span>
    {{ end }}
    {{ with .WordCount }}
      <span class="meta-sep">•</span>
      <span class="meta-item">{{ . }} words</span>
    {{ end }}
    <span class="meta-sep">•</span>
    <span class="meta-item">{{ $duration }} min read</span>
  </div>
  {{ with .Params.tags }}
    <div class="meta-tags">
      {{ range $key, $value := . -}}
        <a class="meta-tag" href="{{ "/tags/" | relLangURL }}{{ $value | urlize }}">#{{ . }}</a>
      {{- end }}
    </div>
  {{ end }}
</div>
